[submodule "ssafy-web-front/live-web-front"]
	path = ssafy-web-front/live-web-front
	url = https://lab.ssafy.com/s12/javabi/live-web-front.git
[submodule "ssafy-web-back/live-web-back"]
	path = ssafy-web-back/live-web-back
	url = https://lab.ssafy.com/s12/javabi/live-web-back.git
[submodule "ssafy-web-back/live-web-db"]
	path = ssafy-web-back/live-web-db
	url = https://lab.ssafy.com/s12/javabi/live-db.git
[submodule "ssafy-web-back/live-spring"]
	path = ssafy-web-back/live-spring
	url = https://lab.ssafy.com/s12/javabi/live-spring.git
[submodule "ssafy-web-front/live-vue"]
	path = ssafy-web-front/live-vue
	url = https://lab.ssafy.com/s12/javabi/live-vue.git
[submodule "ssafy-project/semester1-final-project/practice-board-FE"]
	path = ssafy-project/semester1-final-project/practice-board-FE
	url = https://github.com/SSAFY-SEM1-FIN-WITH-WAN/practice-board-FE.git
[submodule "ssafy-project/semester1-final-project/practice-board-BE"]
	path = ssafy-project/semester1-final-project/practice-board-BE
	url = https://github.com/SSAFY-SEM1-FIN-WITH-WAN/practice-board-BE.git
